<!DOCTYPE html>
<html>
	<head>
		<script src="scripts/vendor/angular.js"></script>
		<script src="scripts/studyApp.js"></script>
		<link rel="stylesheet" href="styles/styles.css"></link>
	</head>
	<body ng-app="studyApp">
		<div ng-controller="studyController">
			<div>
				<div>
					Country:
					<input ng-model="country.name"/>
				</div>
				<div>
					Capital:
					<input ng-model="country.capital"/>	
				</div>
			</div>
			<br>
			<div>
				<div>
					{{ country.name }}
				</div>
				<div>
					{{ country.capital }}
				</div>
			</div>
		</div>
	</body>
</html>