<!DOCTYPE html>
<html>
	<head>
		<script src="scripts/vendor/angular.js"></script>
		<script src="scripts/studyApp.js"></script>
		<link rel="stylesheet" href="styles/styles.css"></link>
	</head>
	<body ng-app="studyApp">
		<div ng-controller="studyController">
			<div>
				<div>
					Country: {{ country.name }}
				</div>
				<div>
					Cities:
				<ul>
					<li ng-repeat="city in country.cities">
						{{ city.name }}
						{{ city.inhabitants }}
						<button ng-click="increaseInhabitants(city)">Increase</button>
						<button ng-click="decreaseInhabitants(city)">Decrease</button>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>